.hidden {
    opacity: 0;
    transform: translateX(-100%);
    filter: blur(10px);
    transition: all 1s;
    
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
    
}

.flipped {
    transform: rotateY(60deg);
    
    transform-style: preserve-3d;
    
}

.aligned {
    transform: rotateY(0deg);
    
    transition: all 1s ease-in-out;
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
    .flipped {
        transform: unset;
    }
}

