@import '_mixins.scss';
@import '_colors.scss';

#projects-section {
    @include flex(column, nowrap);


    #projects-container {
     
        width:80%;
        max-width: 1000px;
        


        /*The project-cards*/
        .card {
            width:100%;
            background-color: $header-color;
            margin-bottom: 3rem;
            
            figure {
                width: 100%;
                height: 100%;
                img {
                    
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }

            h1 {
                text-align: center;
            }

            article {
                width: 50%;
                margin: 2rem auto;
            }
            
        }


        
    }

    
}
