@import '_mixins.scss';
@import '_colors.scss';

#projects-section {
    @include flex(column, nowrap);


    #projects-container {
        @include flex(column, nowrap);
        width:80%;
        max-width: 1000px;
        background-color: blue;
        justify-content: space-between;


        /*The project-cards*/
        .card {
            width:100%;
            background-color: $header-color;

            figure {
                width: 100%;
                height: 100%;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
            
        }


        
    }

    
}
