@import '_mixins.scss';
@import '_colors.scss';

#projects-section {
    @include flex(column, nowrap);


    #projects-container {
        @include flex(row, wrap);
        width:80%;
        max-width: 1000px;
        background-color: blue;
        justify-content: space-between;


        /*The project-cards*/
        .card {
            width:200px;
            height: 100px;
            background-color: $header-color;
        }
        
    }

    
}
