@media screen and (max-width:700px) {

    #nav-bar {
        width: 100% !important;

        ul a {
            font-size: 1.5rem !important;
        }
    }

    
    .sub-header {
        font-size: 5rem !important;
    }

    #information-section {
        flex-direction: column;
        
        article, #accordion-container {
            margin: auto;
        }
        #about-article {
           margin-bottom: 2rem;
        }
    }

    #projects-section {
        .card {
            font-size: 0.4rem;
            .description-wrapper {
                
            
                h1 {
                    font-size: 1em !important;
                }
                article {
                    font-size: 0.75em !important;
                }
            }
        }
    }


    #contact-section {

        .container {
            padding: 2em !important;
        }
        .icon {

            padding: 0 !important;
            font-size: 4rem !important;
        }
    }
}