@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  color: white;
  scroll-behavior: smooth;
}

#projects-section {
  display: flex;
  flex-direction: column;
  flex-direction: nowrap;
}
#projects-section #projects-container {
  margin-top: 8rem;
  width: 60%;
  min-width: 280px;
  max-width: 1000px;
  /*The project-cards*/
}
#projects-section #projects-container .card {
  font-size: 2rem;
  width: 100%;
  background-color: rgb(23, 24, 23);
  margin-bottom: 3rem;
}
#projects-section #projects-container .card figure {
  width: 100%;
  height: 100%;
}
#projects-section #projects-container .card figure img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
#projects-section #projects-container .card .description-wrapper {
  padding: 0.1em;
}
#projects-section #projects-container .card h1 {
  text-align: center;
  font-size: 3rem;
}
#projects-section #projects-container .card article {
  width: 80%;
  margin: 1em auto;
  font-size: 1em;
}
#projects-section #projects-container .card .btn-wrapper {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  flex-direction: wrap;
  justify-content: space-evenly;
}
#projects-section #projects-container .card .btn-wrapper .proj-btn {
  background-color: rgb(46, 95, 229);
  width: max-content;
  padding: 1em;
  border-radius: 1em;
  cursor: pointer;
  font-size: 0.6em;
}
#projects-section #projects-container .card .btn-wrapper .btn-icon {
  margin-left: 0.5em;
  font-size: 1.5em;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
  filter: blur(10px);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
  .flipped {
    transform: unset;
  }
}
@media screen and (max-width: 700px) {
  #nav-bar {
    width: 100% !important;
  }
  #nav-bar ul a {
    font-size: 1.5rem !important;
  }
  .sub-header {
    font-size: 5rem !important;
  }
  #information-section {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }
  #information-section article, #information-section #accordion-container {
    margin-left: auto;
    margin-right: auto;
  }
  #information-section #accordion-container .accordion-title {
    font-size: 2rem;
  }
  #information-section #accordion-container article p {
    font-size: 1.5rem;
  }
  #information-section #about-article {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  #information-section #about-article p {
    line-height: 2.5rem;
    font-size: 1.5rem;
  }
  #projects-section .card {
    font-size: 0.4rem;
  }
  #projects-section .card .description-wrapper h1 {
    font-size: 1em !important;
  }
  #projects-section .card .description-wrapper article {
    font-size: 0.75em !important;
  }
  #contact-section .container {
    padding: 2em !important;
  }
  #contact-section .icon {
    padding: 0 !important;
    font-size: 4rem !important;
  }
}
@media screen and (max-width: 550px) {
  #projects-section .card {
    font-size: 0.4rem;
  }
  #projects-section .card .description-wrapper h1 {
    font-size: 1em !important;
  }
  #projects-section .card .description-wrapper article {
    font-size: 0.5em !important;
  }
}
@media screen and (max-width: 370px) {
  #information-section #about-article {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  #information-section #about-article p {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 700px) and (min-height: 800px) {
  #projects-section {
    margin-top: -30%;
  }
}
body {
  width: 100%;
  height: 100vh;
  background-color: black;
}

/* nav-bar */
#header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  display: flex;
  background-color: rgb(23, 24, 23);
  border-bottom: 1px solid rgb(38, 37, 37);
  justify-content: flex-end;
}

#nav-bar {
  width: 50%;
}

#nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  list-style-type: none;
}

#nav-bar ul a {
  text-decoration: none;
  color: rgb(46, 95, 229);
  font-size: 2rem;
}

/* main */
.section {
  min-height: 100vh;
  padding-top: 50px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sub-header {
  z-index: -1;
  font-size: 6.5rem;
  text-align: center;
}

#about-header {
  margin-bottom: 2rem;
}

/* welcome page */
.container {
  padding: 3rem;
  background-color: rgb(23, 24, 23);
  border-radius: 2rem;
}

#welcome-section #name-container {
  max-width: 500px;
  z-index: -1;
}

#welcome-section #name {
  font-size: 6rem;
}

#welcome-section #job-title {
  font-size: 2.6rem;
}

/* information page */
#information-section {
  justify-content: space-evenly;
  align-items: baseline;
}
#information-section article {
  margin-left: 1rem;
}
#information-section article p {
  font-size: 2rem;
  line-height: 3.5rem;
}
#information-section .accordion {
  border-radius: 0;
}
#information-section .accordion:first-of-type {
  border-radius: 2rem 2rem 0 0;
}
#information-section .accordion:last-of-type {
  border-radius: 0 0 2rem 2rem;
}
#information-section .accordion-title {
  font-size: 3rem;
  cursor: pointer;
  padding-bottom: 0.5rem;
  position: relative;
}
#information-section .accordion-title::after {
  content: "+";
  margin-left: 4rem;
  cursor: pointer;
  position: absolute;
  right: 0;
  color: rgb(46, 95, 229);
}

.accordion:nth-of-type(1) {
  border-bottom: 2px solid black;
}

.accordion:nth-of-type(2) {
  border-bottom: 2px solid black;
}

#information-section .accordion-text {
  font-size: 1.8rem;
  overflow: hidden;
  height: 0px;
  transition: all 0.5s ease;
}
#information-section .accordion-text p {
  padding-top: 0.5rem;
}

#information-section .active {
  padding-top: 2rem;
  height: 200px;
}

#information-section .minus::after {
  content: "-";
  color: rgb(46, 95, 229);
}

/* Contact-section */
#contact-section {
  flex-direction: column;
  display: relative;
  justify-content: center;
  align-items: center;
}

#contact-section .wide-container {
  width: 100%;
  margin-top: 15rem;
  display: flex;
  justify-content: space-evenly;
  perspective: 500px;
}

#contact-section .wide-container .icon-container {
  z-index: 2;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 20px rgb(46, 95, 229);
  transition: all 0.5s ease;
}

#contact-section .wide-container .icon {
  font-size: 10rem;
  z-index: 3;
  pointer-events: none;
  color: rgb(46, 95, 229);
}/*# sourceMappingURL=style.css.map */